REACT_APP_API_BASE_URL=http://localhost:8080
REACT_APP_AUTH_BASE_URL=http://localhost:8080
REACT_APP_KEYCLOAK_REALM=danilo_eventure
REACT_APP_KEYCLOAK_CLIENT_ID=eventure-app
REACT_APP_APIMAN_API_KEY=dd4c8216-cfb7-4629-aad3-bb3da1a4c4ec
